mixin shop-item(classItem,imgItem, articleItem, titleItems, textItem, typeSim, quantSim, colorItem, osItem, tgItem, chgItem, gpsItem,ratingItem, priceItem)
	ul(class=classItem+ "s")
		each titleItem, i in titleItems
			li(class=classItem+ 's__item')
				ul(class=classItem+ '__slide')
					- for (var j = 1; j < 5; j++)
						li(class=classItem + "-slide__img")
							img(src="img/item/" + imgItem[i] + "-" + j + ".png" alt="Image " + titleItem + " " + j class=classItem + "-slide-img" + ((j == 1) ? " " + classItem + "-slide-img_current" : ""))
				div(class=classItem + "__article")= "Артикул " +  articleItem[i]
				h2(class=classItem + "__title")= titleItem
				p(class=classItem + "__text")= textItem[i]
				ul(class=classItem + "__charact")
					li(class=classItem + "-charact__item")
						div(class=classItem + "-charact-item__left") Тип SIM-карты
						div(class=classItem + "-charact-item__rigth")= typeSim[i]
					li(class=classItem + "-charact__item")
						div(class=classItem + "-charact-item__left") Количество SIM-карт
						div(class=classItem + "-charact-item__rigth")= quantSim[i]
					li(class=classItem + "-charact__item")
						div(class=classItem + "-charact-item__left") Цвет
						div(class=classItem + "-charact-item__rigth")= colorItem[i]
					li(class=classItem + "-charact__item")
						div(class=classItem + "-charact-item__left") ОС
						div(class=classItem + "-charact-item__rigth")= osItem[i]
					li(class=classItem + "-charact__item")
						div(class=classItem + "-charact-item__left") Связь 3G
						div(class=classItem + "-charact-item__rigth")= tgItem[i]
					li(class=classItem + "-charact__item")
						div(class=classItem + "-charact-item__left") 4G (LTE)
						div(class=classItem + "-charact-item__rigth")= chgItem[i]
					li(class=classItem + "-charact__item")
						div(class=classItem + "-charact-item__left") GPS-модуль
						div(class=classItem + "-charact-item__rigth")= gpsItem[i]
				div(class=classItem + "__rating")
					ul(class=classItem + "-rating__stars")
						- for (var k = 0; k < ratingItem[i]; k++) 
							li(class=classItem + "-rating__stars_red") +
						- for (var k = 0; k < 5-ratingItem[i]; k++)
							li(class=classItem + "-rating__stars_white") -
					div(class=classItem + "-rating__number")= ratingItem[i]
				div(class=classItem + "__wrap-price-shop")
					div(class=classItem + "__price")= priceItem[i]
					div(class=classItem + "__presence") В наличие
					input(type="button" value="В корзину" class=classItem + "__shop-button")